<div class="container">
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Welcome to Eventr - Event manager</h1>
    <p>This is last event management system you will ever use. It's so great all of the others look like amature hour</p>
  </div>
</div>
